{% block html_start %}
    <!DOCTYPE html>
    <html lang="pl">
<head>
    <meta charset="utf-8"/>
    <title>Video</title>
    <meta name="description" content="Video">
    {% block extra_tags %}
    {% endblock %}
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- inject:css --><!-- endinject -->
    <!-- head:js --><!-- endinject -->

</head>
{% endblock %}