body {
  font-family: 'Helvetica Neue LT Pro';
  //background-attachment: fixed;
  background-size: cover;
  background-position: center;
  transition: 0.4s ease;
}
* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {

}

table
{
  border-collapse: collapse;
  border-spacing: 0px;
}
table, th, td
{
  padding: 5px 10px;
}

.fp-viewing-transport-dalekobiezny {
  background-image: url(../img/transport-dalekobiezny.jpg);
}
.fp-viewing-transport-miejski {
  background-image: url(../img/transport-miejski.jpg);
}
.fp-viewing-przewozy-objetosciowe {
  background-image: url(../img/przewozy-objetosciowe.jpg);
}
.fp-viewing-branza-budowlana {
  background-image: url(../img/branza-budowlana.jpg);
}
.fp-viewing-branza-kamieniarska {
  background-image: url(../img/branza-kamieniarska.jpg);
}
.fp-viewing-branza-ogrodnicza {
  background-image: url(../img/branza-ogrodnicza.jpg);
}
.fp-viewing-branza-komunalna {
  background-image: url(../img/branza-komunalna.jpg);
}

.header-first {
  font-weight: 500;
  text-transform: uppercase;
  @include responsive-font(4vh, 26px, 32px);
  //font-size: 32px;
  margin: 0;
  @include media-height-lg {
    margin-bottom: 10px;
  }
}
.header-second {
  font-weight: 100;
  @include responsive-font(7vh, 40px, 60px);
  //font-size: 60px;
  text-transform: uppercase;
  margin: 0;
  line-height: 1;
  margin-bottom: 20px;
}
.header-third {
  font-weight: 100;
  font-size: 22px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 6px;
}
.header-fourth {
  font-weight: 500;
  font-size: 24px;
  color: gray;
  margin-bottom: 16px;
  text-transform: uppercase;
}
p {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
}

main {
  max-width: 100vw;
  overflow: hidden;
}

.section {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.hybrid-version-text {
  display: none;
  &.visable {
    display: inline-block;
  }
}
.displayNone {
  display: none !important;
}


.logo {
  max-width: 240px;
  width: 25vh;
}

.hidden {
  opacity: 0 !important;
}

.scroll {
  //width: 200px;
  position: relative;;
  height: 80vh;
  padding-right: 20px;
}
.scroll-left {
  position: relative;;
  //max-height: 160px;
  padding-right: 20px;
}

.icon-arrow {
  position: relative;
  width: 10px;
  height: 10px;
  top: -4px;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid black;
    border-right: 2px solid black;
    transition: 0.2s;

  }
  &--bottom {
    @extend .icon-arrow;
    &:before {
      transform: rotate(135deg);
    }
  }
  &--right {
    @extend .icon-arrow;
    &:before {
      transform: rotate(45deg);
    }
  }
}









.fullpage-wrapper {
  transform: translate3d(0px, 0px, 0px) !important;
  min-height: 100vh;
  z-index: 1;
  > section {
    left: -10px;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    &.active {
      left: 0px;
      opacity: 1;
      z-index: 1;
      visibility: visible;
      .inner__content--left {
        .logo, .header-first, .header-second, .content__description p, .content__buttons > li:nth-child(1) > div, .content__buttons > li:nth-child(2) > div, .content__buttons > li:nth-child(3) > div, .header-third, .navigation {
          opacity: 1;
          left: 0px;
        }
      }
    }
    .inner__content--left {
      .logo, .header-first, .header-second, .content__description p, .content__buttons > li:nth-child(1) > div, .content__buttons > li:nth-child(2) > div, .content__buttons > li:nth-child(3) > div, .header-third, .navigation {
        opacity: 0;
        position: relative;
        left: -10px;
      }
      .logo {
        transition: 0.3s ease 0.1s;
      }
      .header-first {
        transition: 0.3s ease 0.3s;
      }
      .header-second {
        transition: 0.3s ease 0.4s;
      }
      .content__description p {
        transition: 0.3s ease 0.5s;
      }
      .content__buttons > li:nth-child(1) > div {
        transition: 0.3s ease 0.6s;
      }
      .content__buttons > li:nth-child(2) > div {
        transition: 0.3s ease 0.7s;
      }
      .content__buttons > li:nth-child(3) > div {
        transition: 0.3s ease 0.8s;
      }
      .header-third {
        transition: 0.3s ease 0.9s;
      }
      .navigation {
        transition: 0.3s ease 1s;
      }
    }
  }
}



.bg-gradient {
  width: 50%;
  position: fixed;
  top: 0px;
  background: linear-gradient(100deg, rgba(247,247,247,1) 0%,rgba(247,247,247,0.9) 60%,rgba(247,247,247,0.8) 80%,rgba(247,247,247,0.65) 100%);
  height: 100%;
  transform: skew(10deg);
  z-index: 0;
  left: -10vw;
  transition: 0.6s ease;
  //&::before {
  //  content: "";
  //  position: fixed;
  //  height: 100%;
  //  left: 0px;
  //  top: 0px;
  //  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
  //  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  //  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  //  background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  //  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
  //  width: 60%;
  //  z-index: 0;
  //  display: block;
  //}
}



.fp-viewing-transport-miejski, .fp-viewing-branza-budowlana, .fp-viewing-branza-ogrodnicza {
  .bg-gradient {
    transform: skew(-10deg);
  }
}


.fp-viewing-transport-dalekobiezny {
  .bg-gradient {
    background: linear-gradient(100deg, rgba(247, 247, 247, 1) 0%, rgba(247, 247, 247, 0.9) 60%, rgba(247, 247, 247, 0.8) 80%, rgba(247, 247, 247, 0.65) 100%);
  }
}
.fp-viewing-transport-miejski {
  .bg-gradient {
    background: linear-gradient(80deg, rgba(16, 70, 93, 1) 0%, rgba(16, 70, 93, 1) 60%, rgba(16, 70, 93, 0.8) 80%, rgba(16, 70, 93, 0.65) 100%);
  }
}
.fp-viewing-przewozy-objetosciowe {
  .bg-gradient {
    background: linear-gradient(100deg, rgba(121, 102, 86, 1) 0%, rgba(121, 102, 86, 1) 60%, rgba(121, 102, 86, 0.8) 80%, rgba(121, 102, 86, 0.65) 100%);
  }
}
.fp-viewing-branza-budowlana {
  .bg-gradient {
    background: linear-gradient(80deg, rgba(37, 37, 37, 1) 0%, rgba(37, 37, 37, 1) 60%, rgba(37, 37, 37, 0.8) 80%, rgba(37, 37, 37, 0.65) 100%);
  }
}
.fp-viewing-branza-kamieniarska {
  .bg-gradient {
    background: linear-gradient(100deg, rgba(74, 27, 27, 1) 0%, rgba(74, 27, 27, 1) 60%, rgba(74, 27, 27, 0.8) 80%, rgba(74, 27, 27, 0.6) 100%);
  }
}
.fp-viewing-branza-ogrodnicza {
  .bg-gradient {
    background: linear-gradient(80deg, rgba(53, 106, 35, 1) 0%, rgba(53, 106, 35, 1) 60%, rgba(53, 106, 35, 0.8) 80%, rgba(53, 106, 35, 0.6) 100%);
  }
}
.fp-viewing-branza-komunalna {
  .bg-gradient {
    background: linear-gradient(100deg, rgba(179, 220, 235, 1) 0%, rgba(179, 220, 235, 1) 60%, rgba(179, 220, 235, 0.8) 80%, rgba(179, 220, 235, 0.6) 100%);
  }
}

.fp-viewing-kontakt {
  .bg-gradient {
    display: none;
  }
}